# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# --- Data files ---
# Ignore generated Excel/CSV outputs
out/
previous scrapes/
*.xlsx
*.csv

# Logs or temp data
*.log
tmp/
temp/

# OS noise
.DS_Store
Thumbs.db

# Git & environment
*.env